@{
    ViewBag.Title = "About";
}

@*
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
*@


<div class="jumbotron">
    <h1 class="display-3">@ViewBag.Title</h1>
    <p class="lead">
        This application helps to count the number of registrations for the Renewal Presbyterian Church Egghunt.
        Hopefully, this will allow us to register people without making them wait needlessly when there may be no more spots left.
    </p>
    <hr class="my-4">
    <p>We've been hosting easter egg hunts in west philly for several years now. Here's to many more!</p>
</div>