@{
    ViewBag.Title = "Contact";
}


<br /><br />
<span id="newTime"></span><br />
<span id="message"></span><br />

<input type="button" id="btnGroupA" value="+ GroupA" /><br />
<input type="button" id="btnGroupB" value="+ GroupB" /><br />
<input type="button" id="btnGroupC" value="+ GroupC" /><br />


<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
@section scripts{
    <script src="~/Scripts/jquery.signalR-2.2.3.js"></script>
    <script src="~/SignalR/hubs"></script>
    <script src="~/Scripts/timer.js"></script>

    <script>
        $.connection.counterHub.server.hello();
    </script>
}