@{
    ViewBag.Title = "Egg Hunt Adminstration";
}

<h2>@ViewBag.Title</h2>
<br />
<span style="display:none;" id="message"></span>
<input type="hidden" id="hidIn" value="aoiuajPYUQ4J;L18793214hja" />
@*<h3>@ViewBag.Message</h3>*@

<div class="btn-group-vertical">
    <a href="#" class="btn btn-success" id="lGroupAI">Increment</a>
    <a href="#" class="btn btn-default disabled">Ages 0-2</a>
    <a href="#" class="btn btn-link disabled" id="lGroupACount">?</a>    
    <a href="#" class="btn btn-default disabled" id="lGroupALimit">888</a>    
    <a href="#" class="btn btn-success" id="lGroupAD">Decrement</a>
</div>

<div class="btn-group-vertical">
    <a href="#" class="btn btn-primary" id="lGroupBI">Increment</a>
    <a href="#" class="btn btn-default disabled">Ages 3-4</a>
    <a href="#" class="btn btn-link disabled" id="lGroupBCount">?</a>
    <a href="#" class="btn btn-default disabled" id="lGroupBLimit">888</a>
    <a href="#" class="btn btn-primary" id="lGroupBD">Decrement</a>
</div>

<div class="btn-group-vertical">
    <a href="#" class="btn btn-danger" id="lGroupCI">Increment</a>
    <a href="#" class="btn btn-default disabled">Ages 5-6</a>
    <a href="#" class="btn btn-link disabled" id="lGroupCCount">?</a>
    <a href="#" class="btn btn-default disabled" id="lGroupCLimit">888</a>
    <a href="#" class="btn btn-danger" id="lGroupCD">Decrement</a>
</div>
<br /><br />
<div class="panel panel-default">
    <div class="panel-heading">Last Update from Server</div>
    <div class="panel-body">
        <button type="button" id="newTime" class="btn btn-info">?</button>
    </div>
</div>

@*<div style="position: relative;" class="align-items-center">
    <div id="divGroupA" class="card text-white bg-warning mb-3" style="max-width: 20rem; display: inline-block;">
        <div class="card-header">Ages 0-2</div>
        <div class="card-body">
            <p id="pGroupA" class="card-text">?</p>
            <hr />
            <p id="pGroupATotal" class="card-text">?</p>
        </div>
    </div>

    <div id="divGroupB" class="card text-white bg-dark mb-3" style="max-width: 20rem; display: inline-block;">
        <div class="card-header">Ages 3-4</div>
        <div class="card-body">
            <p id="pGroupB" class="card-text">?</p>
            <hr />
            <p id="pGroupBTotal" class="card-text">?</p>
        </div>
    </div>

    <div id="divGroupC" class="card text-white bg-info mb-3" style="max-width: 20rem; display: inline-block;">
        <div class="card-header">Ages 5-6</div>
        <div class="card-body">
            <p id="pGroupC" class="card-text">?</p>
            <hr />
            <p id="pGroupCTotal" class="card-text">?</p>
        </div>
    </div>
</div>

<input type="button" class="btn btn-warning" id="btnAdminGroupA" value="- Ages 0-2" />  <input type="button" class="btn btn-secondary" id="btnAdminGroupB" value="- Ages 3-4" />  <input type="button" class="btn btn-info" id="btnAdminGroupC" value="- Ages 5-6" /><br />*@

@section scripts{
    <script src="~/Scripts/jquery.signalR-2.2.3.js"></script>
    <script src="~/SignalR/hubs"></script>
    <script src="~/Scripts/timer.js"></script>
}