@{
    ViewBag.Title = "Contact";
}


<br /><br />

      <button type="button" id="newTime" class="btn btn-primary" title="" data-container="body" data-toggle="popover" data-placement="bottom" data-content="This is the last time the server sent an update to this page." data-original-title="Time of Last Update">
          01/01/1900 12:00:01 AM
      </button>

<span id="newTime2"></span><br />
<span id="message"></span><br />

<input type="button" id="btnGroupA" value="+ GroupA" />  <input type="button" id="btnGroupB" value="+ GroupB" />  <input type="button" id="btnGroupC" value="+ GroupC" /><br />

<input type="button" id="btnAdminGroupA" value="- GroupA" />  <input type="button" id="btnAdminGroupB" value="- GroupB" />  <input type="button" id="btnAdminGroupC" value="- GroupC" /><br />


@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@

<ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Age Group 0 - 2 (yellow) (88)
        <span id="spanGroup01" class="badge badge-primary badge-pill">14</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Age Group 3 - 4 (red) (152)
        <span id="spanGroup02" class="badge badge-primary badge-pill">5</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Age Group 5-6 (blue) (65)
        <span id="spanGroup03" class="badge badge-primary badge-pill">10</span>
    </li>
</ul>
<br />
<div class="row">
    <div style="position: relative;">
        <div class="card text-white bg-warning mb-3" style="max-width: 20rem; display: inline-block;">
            <div class="card-header">Age Group 0-2</div>
            <div class="card-body">
                <h4 class="card-title">10</h4>
                <h4 class="card-title">/88</h4>
            </div>
        </div>

        <div class="card text-white bg-dark mb-3" style="max-width: 20rem; display: inline-block;">
            <div class="card-header">Age Group 3-4</div>
            <div class="card-body">
                <h4 class="card-title">14</h4>
                <h4 class="card-title">/152</h4>
            </div>
        </div>

        <div class="card text-white bg-info mb-3" style="max-width: 20rem; display: inline-block;">
            <div class="card-header">Age Group 5-6</div>
            <div class="card-body">
                <h4 class="card-title">15</h4>
                <h4 class="card-title">/65</h4>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/jquery.signalR-2.2.3.js"></script>
    <script src="~/SignalR/hubs"></script>
    <script src="~/Scripts/timer.js"></script>
}