USE [master]
GO
/****** Object:  Database [DB_A37872_egghunt]    Script Date: 3/27/2018 11:14:12 PM ******/
CREATE DATABASE [DB_A37872_egghunt]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_A37872_egghunt_Data', FILENAME = N'H:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\DB_A37872_egghunt_DATA.mdf' , SIZE = 4096KB , MAXSIZE = 102400KB , FILEGROWTH = 10%)
 LOG ON 
( NAME = N'DB_A37872_egghunt_Log', FILENAME = N'H:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\DB_A37872_egghunt_Log.LDF' , SIZE = 3072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_A37872_egghunt].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_A37872_egghunt]
GO
/****** Object:  Schema [action]    Script Date: 3/27/2018 11:14:14 PM ******/
CREATE SCHEMA [action]
GO
/****** Object:  Table [dbo].[Count]    Script Date: 3/27/2018 11:14:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Count](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GroupName] [nvarchar](100) NOT NULL,
	[Value] [int] NOT NULL,
 CONSTRAINT [PK_Count] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Login]    Script Date: 3/27/2018 11:14:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Login](
	[Id] [int] IDENTITY(100,1) NOT NULL,
	[PassCode] [nvarchar](500) NULL,
 CONSTRAINT [PK_Login] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Count] ON 

INSERT [dbo].[Count] ([Id], [GroupName], [Value]) VALUES (1, N'GroupA', 22)
INSERT [dbo].[Count] ([Id], [GroupName], [Value]) VALUES (2, N'GroupB', 26)
INSERT [dbo].[Count] ([Id], [GroupName], [Value]) VALUES (3, N'GroupC', 30)
SET IDENTITY_INSERT [dbo].[Count] OFF
ALTER TABLE [dbo].[Count] ADD  CONSTRAINT [DF_Count_Value]  DEFAULT ((0)) FOR [Value]
GO
/****** Object:  StoredProcedure [action].[decrement]    Script Date: 3/27/2018 11:14:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Lui, Hon
-- Create date: 20180317
-- Description:	Decrement the counter for the group specified
-- =============================================
CREATE PROCEDURE [action].[decrement]	
	@GroupName varchar(50)
AS
BEGIN	
	SET NOCOUNT ON;
	
	UPDATE [dbo].[Count]
	SET [Value] = CASE WHEN 1 > [Value] THEN 0 ELSE [Value] - 1 END
	WHERE [GroupName] = @GroupName
		
END


GO
/****** Object:  StoredProcedure [action].[Increment]    Script Date: 3/27/2018 11:14:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Lui, Hon
-- Create date: 20180317
-- Description:	Increment the counter for the group specified
-- =============================================
CREATE PROCEDURE [action].[Increment]	
	@GroupName varchar(50)
AS
BEGIN	
	SET NOCOUNT ON;
	
	UPDATE [dbo].[Count]
	SET [Value] = [Value] + 1
	WHERE [GroupName] = @GroupName
		
END

GO
USE [master]
GO
